# Git
.git/

# Github
.github/

# Helm
helm/

# Kubernetes
kube/

# Editor configuration
.editorconfig

# dotenv example environment variables file
.env.example

# gitignore
.gitignore

# Docker file
Dockerfile

# Jenkins Pipeline
Jenkinsfile

# PHP Code Sniffer
phpcs.xml

# README
README.md
